<h1>
<font SIZE=”14” FACE=”ARIAL” COLOR=”blue”>Welcome to the club body!</font>
</h1>
<form method="post">
{{form.csrf_token}}
</form>


<form action="/register" method="post">
{{form.button(class="btn btn-primary", value="Register")}}
</form>
    

<form action="/search" method="post">
{{form.button(class="btn btn-primary", value="Search")}}
</form>



<form action="https://vk.com/" method="post">
{{form.button(class="btn btn-primary", value="still by...")}}
</form>

<IMG SRC= “cleardragon.jpg” 
ALINE=”MIDDLE”>
